<div id="waitingContainer" style="display: none;">
    <div id="waitingContent">
        <div id="waitingTextContainer">
            <h2>マイクロソフトにログインするのを待っています・・・</h2>
        </div>
    </div>
</div>